body {
    background-color: #e6f6f993;
  }
  
  .navbar {
    background-color: #79b2f4 !important;
  }
  
  .card {
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }